.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#pagination {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid magenta; */
}

li {
  list-style: none;
}

#take-quiz-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: var(--white);
  border: 2px solid var(--yellow);
  box-shadow: 24;
  padding: 20px;
  color: var(--charcoal);
  border-radius: 15px;
}