#category1chosen {
  color: greenyellow;
}

#category2chosen {
  color: greenyellow;
}

#category3chosen {
  color: greenyellow;
}

#category4chosen {
  color: greenyellow;
}

#category5chosen {
  color: greenyellow;
}

#difficulty1chosen {
  color: greenyellow;
}

#difficulty2chosen {
  color: greenyellow;
}

#difficulty3chosen {
  color: greenyellow;
}